h3{
    color:rgb(232, 69, 121);
}
.form-label{
    color:rgb(232, 69, 121);
}
.form-check-label{
    margin: 15px;
}
.form-check-input{
    margin-top: 15px;
}
// #genMale,#genFemale
.mdc-dialog__surface{
    background-color:rgb(232, 69, 121);

}
.container{
background-color: aliceblue;
border-top:4px solid rgb(232, 69, 121);;
}
label{
    margin-top: 10px;
   color:rgb(232, 69, 121);
}
input{
    margin-top: 10px;
}

.mat-mdc-button{
    border: 1px solid rgb(232, 69, 121);
    background-color: rgb(232, 69, 121);
    color:white;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 140px;
    width:150px;
}

