<!-- ==================================Login Display============================= -->
<div class="container" *ngIf="router.url=='/login'">
 
  <router-outlet></router-outlet>
 
</div>

<!-- =============================Home Display=================================== -->
<div class="container-fluid" *ngIf="router.url!='/login'">

  <!-- -----------------------------ToolBar------------------------------------------- -->

  <mat-toolbar color="accent" class="container-fluid">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with logout icon" (click)="logOut()" >
      <!-- routerLink="/login"  <mat-icon>power_settings_new</mat-icon> -->
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>


  <!-- -------------------------Side Navbar(Mat Drawer)------------------------ -->
  <mat-drawer-container class="container-fluid" autosize style="height: 91vh; width: 100%;">
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <!-- ---------------------DashBoard--------------------------- -->
      <mat-list role="list">
        <mat-list-item role="listitem" routerLinkActive="active">
          <span class="nav" routerLink="/dashBoard"><mat-icon
              style="margin-right: 10px;">developer_board</mat-icon>Dashboard</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <!-- ------------------Categories DropDown------------- -->
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header routerLinkActive="active">
            <span class="nav" routerLink="/categories"><mat-icon
                style="margin-right: 10px;">dashboard</mat-icon>Categories</span>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <a mat-list-item routerLink="/categories" class="nav" routerLinkActive="active">
              <span class="nav "><mat-icon>check_circle</mat-icon>Main Categories</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="#" >
              <span class="nav "><mat-icon >check_circle_outline</mat-icon>Sub Categories</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <!-- ------------------------------Product----------------------- -->
        <mat-list-item role="listitem" routerLinkActive="active"><span class="nav" routerLink="/product"><mat-icon
              style="margin-right: 10px;">assured_workload</mat-icon>Product</span></mat-list-item>
        <mat-divider></mat-divider>

        <!-- -----------------------------Orders--------------------------- -->
        <mat-list-item role="listitem" routerLinkActive="active"><span class="nav" routerLink="/orders"><mat-icon
              style="margin-right: 10px;">shopping_cart</mat-icon>Orders</span></mat-list-item>
        <mat-divider></mat-divider>

        <!-- ----------------------------Users---------------------------- -->
        <mat-list-item role="listitem" routerLinkActive="active"><span class="nav" routerLink="/users"><mat-icon
              style="margin-right: 10px;">face</mat-icon>Users</span></mat-list-item>
        <mat-divider></mat-divider>

        <!-- --------------------------Newsletter-------------------------- -->
        <mat-list-item role="listitem" routerLinkActive="active"><span class="nav" routerLink="/newsletter"><mat-icon
              style="margin-right: 10px;"> message</mat-icon>Newsletter</span></mat-list-item>
        <mat-divider></mat-divider>


        <!-- ------------------------------Settings----------------------- -->
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header routerLinkActive="active">
            <span class="nav" routerLink="/setting"><mat-icon
                style="margin-right: 10px;">dashboard</mat-icon>Settings</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="#" class="nav">
              <span class="nav"><mat-icon>check_circle</mat-icon>Setting 1</span>
            </a>
            <a mat-list-item routerLink="#" class="nav">
              <span class="nav"><mat-icon>check_circle_outline</mat-icon>Setting 2</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-list>

    </mat-drawer>

    <!-- ----------------------------SideNav Content--------------------- -->
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>