*{
  padding: 0;
  margin: 0;
}
.example-spacer {
    flex: 1 1 auto;
  }

  p{
    margin: 0 -10px;
  }
  .example-container {
    width: 1450px;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .example-sidenav-content {
    display: flex;
    width: 100%;
    background-color: aliceblue;
  }

  .example-sidenav {
    padding: 10px;
    background-color: aliceblue;
    margin: 0px;
  }
  .mat-expansion-panel{
    background-color: aliceblue;
  }
  .nav{
    width: 250px;
    height: 22px;
    font-size: 14px;
     color: rgb(232, 69, 121);
  }
 

  mat-list-item{
    background-color: aliceblue;
  }
  .active{
    border-right:4px solid rgb(232, 69, 121);
   // color: rgb(232, 69, 121);
  }
  .mat-drawer-transition .mat-drawer-content{
    width: 50vw;
  }
  .mat-drawer-side{
    width:220px;
  }